/* Heading font */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Monoton Font */
@import url("https://fonts.googleapis.com/css?family=Monoton&amp;display=swap");

/* Barlow Condensed */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Homepage */
.header-text {
    background-image: linear-gradient(to right, rgb(0 0 0), rgb(168 85 247), rgb(0 0 0));
    display: inline-flex;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}

.social__icons {
    @apply cursor-pointer text-3xl transition duration-300 hover:animate-bounce;
}

/* 404 */
.rect__1 {
    width: 100%;
    aspect-ratio: 1/1;
    /* background-color: #facc15; */
    /* opacity: .5; */
    transform: rotate(165deg);
}

.rect__1 path {
    -webkit-filter: drop-shadow( 3px 3px 2px #84690a);
  filter: drop-shadow( 3px 3px 2px #84690a);
}

.rect__2 {
    height: 100px;
    width: 20px;
    background-color: #facc15;
    transform: rotate(160deg);
}

/* AboutPage */
/* AboutMe */
.download__shadow {
    box-shadow: 4px 4px 8px #3b2a0375,
    -4px -4px 8px #ffffff25;
}

/* Service */
.service__card {
    box-shadow: 5px 5px 10px #3d2c0575,
    -5px -5px 10px #ffffff75;
}

/* Skill */
.skill__outer {
    box-shadow: 4px 4px 8px -1px #3b2a0375,
    -4px -4px 8px -1px #ffffff75;
}
.skill__inner {
    box-shadow: inset 2px 2px 6px -1px #3b2a0375,
    inset -2px -2px 6px -1px #ffffff75,
    -0.5px -0.5px 0px #ffffff,
    0.5px 0.5px 0px #00000015,
    0px 12px 10px -10px #00000005;
}

.arc circle {
    fill: none;
    stroke: rgb(168 85 247);
    stroke-width: 10px;
    stroke-dasharray: 370;
}

/* Contact */

.contact__container {
    box-shadow: inset 15px 15px 20px #EBDBB6,
    inset -15px -15px 20px #ffffff70,
    5px 5px 8px -2px #EBDBB6;
}

.contact__input {
    @apply px-5 py-3 text-center font-medium text-gray-500 focus:text-purple-500 focus:outline-purple-500;
    box-shadow: inset 8px 8px 16px #EBDBB6,
    inset -8px -8px 16px #ffffff70,
    2px 2px 4px #EBDBB6;
}

.contact__submit {
    box-shadow: inset -10px -10px 16px rgb(62, 11, 111),
    inset 10px 10px 16px #ffffff80,
    2px 2px 4px -1px rgb(62, 11, 111);
}